.banner {
  width: 100%;
  height: 85px;
  background-image: url(../img/banner.png);
}
.banner h1 {
  color: rgb(255, 255, 255);
  text-shadow: rgb(63, 69, 65) 3px 0px 0px,
    rgb(63, 69, 65) 2.83487px 0.981584px 0px,
    rgb(63, 69, 65) 2.35766px 1.85511px 0px,
    rgb(63, 69, 65) 1.62091px 2.52441px 0px,
    rgb(63, 69, 65) 0.705713px 2.91581px 0px,
    rgb(63, 69, 65) -0.287171px 2.98622px 0px,
    rgb(63, 69, 65) -1.24844px 2.72789px 0px,
    rgb(63, 69, 65) -2.07227px 2.16926px 0px,
    rgb(63, 69, 65) -2.66798px 1.37182px 0px,
    rgb(63, 69, 65) -2.96998px 0.42336px 0px,
    rgb(63, 69, 65) -2.94502px -0.571704px 0px,
    rgb(63, 69, 65) -2.59586px -1.50383px 0px,
    rgb(63, 69, 65) -1.96093px -2.27041px 0px,
    rgb(63, 69, 65) -1.11013px -2.78704px 0px,
    rgb(63, 69, 65) -0.137119px -2.99686px 0px,
    rgb(63, 69, 65) 0.850987px -2.87677px 0px,
    rgb(63, 69, 65) 1.74541px -2.43999px 0px,
    rgb(63, 69, 65) 2.44769px -1.73459px 0px,
    rgb(63, 69, 65) 2.88051px -0.838247px 0px;
}
.vertical-center {
  margin-top: 10rem;
}

.loteria {
  width: 140px;
}
.mazo {
  width: 130px;
}

.tablaCPU {
  width: 30rem;
}
.seleccion {
  opacity: 0.2;
}
#tableros,
#seleccion,
#mazocartas,
#next,
#Reiniciar,
#tablaCPU,
#tablaSeleccionada {
  display: none;
}
.tablas {
  color: black;
}
.ficha {
  position: relative;
  top: 10px;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.cuadrito {
  width: 100px;
  height: 140px;
}
.barajita {
  width: 40px;
}